
<article class="friend">
  <a href="<%= friend_path(friend) %>" class="row">
    <div class="title span6">
      <h2><%= friend.name %></h2>
    </div>

    <div class="owed span3 <%= variation -friend.user_debt %>">
      <%= "You owe #{number_to_currency friend.user_debt}" unless friend.user_debt <= 0 %>
      <%= "Owes you #{number_to_currency friend.friend_debt}" unless friend.friend_debt <= 0 %>
    </div>
  </a>
</article>

