%h1= t('.title')

- if @friends.empty?

  %p= t('.empty')
  %p= link_to t('bills.new.title'), new_bill_path, class: "btn btn-primary"

- if @owe_you_friends.any?

  %h2
    Owe you
    %span.big-badge.badge-positive
      = user_number_to_currency @owe_you

  .friends
    = render @owe_you_friends, total_owed: @owe_you, you_owe: false

- if @you_owe_friends.any?

  %h2
    You owe
    %span.big-badge.badge-negative
      = user_number_to_currency @you_owe

  .friends
    = render @you_owe_friends, total_owed: @you_owe, you_owe: true

- if @even_friends.any?

  %h2
    Even

  .friends
    = render @even_friends, total_owed: 0
