<h1><%= @friend.name %></h1>

<%= link_to 'Edit', edit_friend_path(@friend), class: "button" %>

<% if @friend.debt > 0 %>
<p class="debt negative">
  You owe <%= @friend.name %> <%= number_to_currency @friend.debt %>
</p>
<% else %>
<p class="debt positive">
  Owes you <%= number_to_currency @friend.debt.abs %>
</p>
<% end %>


<h2>Bills</h2>

<%= link_to 'New bill', new_bill_path(friend_id: @friend), class: "button" %>

