<h1>Users</h1>

<p>
<%= link_to 'New User', new_user_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Kill', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

