%h1= t('.title')

= form_for(@user, as: :user, url: options_path, html: { method: :put }) do |f|

  - if @user.errors.any?
    .alert.alert-block.alert-error
      %h2= t '.errors',  errors: pluralize(@user.errors.count, t(:error))
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :currency
    = f.select :currency, User.currency.options

  .form-actions
    = f.submit t('.submit'), class: "btn btn-primary", data: { "disable-with" => t('.submitting') }

%h2.title= t('.destroy')

.form-actions
  = link_to t('.destroy_submit'), registration_path(current_user), |
    method: :delete, |
    class: "btn btn-danger", |
    data: { |
      confirm: t('.destroy_confirm'), |
      "disable-with" => t('.destroy_submitting') |
    } |
