<%= form_for(@bill, html: { id: "bill-form" }) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset id="participations">
    <table>
      <thead>
        <tr>
          <th>Participant</th>
          <th>Payment</th>
          <th>Owes</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :participations do |p| %>
        <tr>
            <td>
              <%= p.hidden_field :id %>
              <%= p.collection_select :person_id, current_user.me_and_my_friends, :id, :name, { include_blank: true }, { class: "people" } %>
            </td>
            <td>
              <%= p.number_field :payment, placeholder: 0, class: "payment" %>
            </td>
            <td>
              <%= p.select :owed, Participation.owed_for_select, {}, { class: "owed" } %>
              <span class="result"></span>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>

  <fieldset id="bill_optional">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :date, :for => "bill_date_1i" %>
      <%= f.date_select :date %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

