<%= form_for(@bill, html: { id: "bill-form" }) do |f| %>
  <% if @bill.errors.any? %>
    <div class="alert alert-block alert-error">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset class="participations">
    <%= f.fields_for :participations do |p| %>
    <div class="row">
      <div class="people span4">
        <%= p.label :person_id, "Participant #{incrementer}"  %>
        <%= p.collection_select :person_id, current_user.me_and_my_friends,
                :id, :name, { include_blank: p.object.person_id.nil? } %>
      </div>
      <div class="payment span2">
        <%= p.label :payment %>
        <%= p.number_field :payment, placeholder: 0, min: 0 %>
      </div>
      <div class="owed span6">
        <%= p.label :owed_even, "Owed" %>
        <ul class="radio-toggles">
        <% Participation.owed_for_select.each do |text, value| %>
          <li>
            <label>
              <%= p.radio_button :owed, value %>
              <span class="btn"><%= text %></span>
            </label>
          </li>
        <% end %>
        </ul>
        <div class="owed-result"></div>
      </div>
    </div>
    <% end %>
  </fieldset>

  <fieldset class="bill-optional">
    <div class="title control-group">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Optionnal description" %>
    </div>
    <div class="date control-group">
      <%= f.label :date %>
      <%= f.text_field :date, type: "date", size: 10,
        max: Time.now.to_date, placeholder: Time.now.to_date %>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary", disable_with: "Updating…", autocomplete: "off" %>
    <%= link_to "Cancel", :back, class: "btn", disable_with: "Cancel…" %>
  </div>
<% end %>

