<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.money_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :friend_id %>
    <%= f.collection_select :friend_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :user_payed %>
    <%= f.money_field :user_payed %>
  </div>
  <div class="field">
    <%= f.label :friend_payed %>
    <%= f.money_field :friend_payed %>
  </div>
  <div class="field">
    <%= f.label :user_ratio %>
    <%= f.number_field :user_ratio, :size => 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
