<h1>Bills</h1>

<p>
<%= link_to 'New Bill', new_bill_path %>
</p>

<% unless @bills.empty? %>
<table>
  <tr>
    <th>Title</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Friend</th>
    
    <th>Your ratio</th>
    <th>Friend ratio</th>
    
    <th>You payed</th>
    <th>Friend payed</th>
    
    <th>Your debt</th>
    <th>Friend debt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.title %></td>
    <td><%= bill.amount %></td>
    <td><%= bill.date %></td>
    <td><%= link_to bill.friend.name, bill.friend %></td>
    
    <td><%= bill.user_ratio %></td>
    <td><%= bill.friend_ratio %></td>
    
    <td><%= money bill.user_payed %></td>
    <td><%= money bill.friend_payed %></td>
    
    <td><%= money bill.user_debt %></td>
    <td><%= money bill.friend_debt %></td>
    
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Kill', bill, :confirm => 'Are you sure you want to kill bill?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
