<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bill.title %>
</p>

<p>
  <b>Amount:</b>
  <%= @bill.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @bill.date %>
</p>

<p>
  <b>User:</b>
  <%= link_to @bill.user.name, @bill.user %>
</p>

<p>
  <b>Friend:</b>
  <%= link_to @bill.friend.name, @bill.friend %>
</p>

<p>
  <b>User payed:</b>
  <%= @bill.user_payed %>
</p>

<p>
  <b>Friend payed:</b>
  <%= @bill.friend_payed %>
</p>

<p>
  <b>User ratio:</b>
  <%= @bill.user_ratio %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
