<h1><%=@bill.automatic_title%></h1>

<%= link_to 'Edit', edit_bill_path(@bill), :class => 'button' %>
<%= link_to 'Delete', @bill, :confirm => 'Are you sure you want to kill bill?', :method => :delete, :class => 'button delete' %>

<h2>Bill</h2>
<table>
  <tr>
    <th>Title</th>
    <td><%= @bill.title %></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><%= number_to_currency @bill.amount %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= @bill.date %></td>
  </tr>
</table>

