- cache(@bill) do
  .bill
    .row
      %h1.title.span8= bill_title @bill
      .actions.span4
        = link_to t(:edit), edit_bill_path(@bill), class: 'btn'
        = link_to t(:delete), @bill, method: :delete, data: { confirm: t('.confirm_delete') }, class: 'btn btn-danger'

    .row
      .span8
        %ul.results
          - for debt in @bill.debts
            %li= debt_summary debt, links: true

      .span4.date
        = t :time_ago_long, time: time_ago_in_words(@bill.date), date: @bill.date

    - if @bill.genre.shared?
      .row
        .span8
          %table.participations{ summary: "Bill participations" }
            %thead
              %tr
                %th
                %th= t :payment
                %th= t :share
                %th.debt-row= t :debit
                %th.credit-row= t :credit
            %tbody
              - for participation in @bill.participations
                %tr
                  %th= link_to_friend participation.person
                  %td= user_number_to_currency participation.payment
                  %td= user_number_to_currency participation.owed_total
                  %td{ class: "debt-row #{variation -participation.debt}" }
                    = user_number_to_currency participation.debt
                  %td{ class: "credit-row #{variation -participation.debt}" }
                    = user_number_to_currency -participation.debt

              %tr.bill-total
                %th= t :total
                %td= user_number_to_currency @bill.total
                %td
                %td
                %td


