<h1>Bill</h1>

<p>
  <b>Title:</b>
  <%= @bill.title %>
</p>

<p>
  <b>Amount:</b>
  <%= money @bill.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @bill.date %>
</p>

<p>
  <b>With:</b>
  <%= link_to @bill.friend.name, @bill.friend %>
</p>

<p>
  <b>You payed:</b>
  <%= money @bill.user_payed %>
</p>

<p>
  <b>Friend payed:</b>
  <%= money @bill.friend_payed %>
</p>

<p>
  <b>User ratio:</b>
  <%= @bill.user_ratio %>
</p>

<p>
  <b>Your debt:</b>
  <%= money @bill.user_debt %>
</p>

<p>
  <b>Friend debt:</b>
  <%= money @bill.friend_debt %>
</p>  

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
