<!DOCTYPE html>
<html>
<head>
  <title>Fricout</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<nav id="menu">
  <ul>
<% if user_signed_in? %>
    <li class="friends"><%= link_to 'Friends', friends_path %></li>
    <li class="bills"><%= link_to 'Bills', bills_path %></li>
    <li class="sign_out"><%= link_to 'Sign out', destroy_user_session_path %></li>
<% else %>
    <li class="sign_in"><%= link_to 'Sign in', user_session_path %></li>
<% end %>
</nav>

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>

<div id="content">

<%= yield %>

</div>

</body>
</html>
