<!DOCTYPE html>
<html>
<head>
  <title>Fricout</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", :debug => Rails.env.development? %>
  <%= csrf_meta_tag %>
</head>
<body>

<nav id="menu">
  <ul>
<% if user_signed_in? %>
    <li><%= link_to 'Friends', friends_path %></li>
    <li><%= link_to 'Bills', bills_path %></li>
    <li id="sign_out"><%= link_to 'Sign out', destroy_user_session_path, title: "Sign out from Fricout" %></li>
<% else %>
    <li id="sign_in"><%= link_to 'Sign in', user_session_path %></li>
<% end %>
</nav>

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>

<div id="content">

<%= yield %>

</div>

</body>
</html>

